*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea
.idea
.idea/vcs.xml
.idea/caches/gradle_models.ser
app/release/interno.apk
/gradle
gradle
C:\Users\Islas\Documents\2020\pendulum\Olin\Olin_Tareas\gradle
C:\Users\Islas\Documents\2020\pendulum\Olin\Olin_Tareas\build
build.gradle